Django==5.2.1
asgiref==3.8.1
sqlparse==0.5.3
pytz==2025.2
tzdata==2025.2
lunar_python==1.4.4
LunarCalendar==0.0.9
lunardate==0.2.2
ephem==4.2
requests==2.32.3
urllib3==2.4.0
certifi==2025.4.26
pillow==11.2.1
